{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block main %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form>
<a href="{{ index_by_price }}" class = "btn btn-warning">By Price</a>
<a href="{{ index_by_date }}" class = "btn btn-warning">By Date</a>
    </form>
<div class="row">
{% for el in tasks%}
     <div class="col-sm-3">
         <div class="container">
        <h3>{{el.title}}</h3>
        <p>About:{{el.task}}</p>
        <p>Price:{{el.price}}</p>
             <img src="/media/{{el.image}}" style="max-width:10%;max-height:10%">
        <a href="task/{{el.id}}/" class = "btn btn-warning">Details</a>
        {% if el in paid_orders %}
        You own this
        {% elif el not in current_orders %}
        <a href="shopping_cart/add_to_cart/{{el.id}}/" class = "btn btn-warning">Add to cart</a>
        {% else %}
        <a href="shopping_cart/check_cart" class = "btn btn-warning">Go to cart</a>
        {% endif %}
         </div>
         </div>
{% endfor %}
        </div>
{% endblock %}
