<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h4 class="container" style="">Geniass INC</h4>
  <nav class="container">
    <a class="p-2 text-dark" href="{% url 'main:main' %}" >Main</a>
    <a class="p-2 text-dark" href="{% url 'main:create' %}">Create</a>
      <a class="p-2 text-dark" href="{% url 'cart:check_cart' %}">Cart</a>
      <a class="p-2 text-dark" href="{% url 'user:logout' %}">Logout</a>
      <a class="p-2 text-dark" href="{% url 'cart:paid_orders' %}">Paid Orders</a>
  </nav>
    <form class="container" method="GET">
        <p>Hello {{request.user}}</p>
        <input class="add_your_class" type="search" name="search" value="{{ search }}">
        <button class="add_your_class" type="submit"> Search </button>
        </form>
</header>
    {% block main %}{% endblock%}
</body>
</html>